{% extends "base.html" %}

{% block title %}
Выдача систем
{% endblock %}


{% macro render_table(relation, titles) %}

{% set n = len(relation) %}
<thead>
<tr>
    {% for name in titles %}
    <th>{{name}}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for i in range(n) %}
<tr>
    {% for name in relation.dtypes.index %}
    <td>
        {{ relation.loc[i, name] }}
    </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>
{% endmacro %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('show_schedule')}}">График</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('sell_items')}}">Выдача</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="row">
</div>
<div class="row row-cols-auto">
    <div class="col-*"></div>
    <div class="col-11">
        <h2>Заказы к выдаче</h2>
        <table class="table table-striped">
            {{ render_table(sales, table_title) }}
        </table>
    </div>
</div>
{% endblock %}